.bgimg{
    width: 100%;
    height: 100%;
    background-image: url("C:\react\mainproj\public\Screenshot 2024-04-01 014817.png");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: 16px;
    margin-left:5px ;
   
}
.tt{
    width: 100%;
    height: 220px;
    background: rgb(0, 9, 60);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.842) 100%),url('C:\react\mainproj\public\2021-05-17.jpg');
    background-size: cover;
    align-items: end;
    font-weight: bolder;
    color: black;
    border-radius: 10px;
    

}
.ttt {
    width: 100%;
    height: 220px;
    background: rgb(0, 9, 60);
    background: linear-gradient(180deg, rgb(189, 189, 189) 0%, rgb(193, 193, 193) 100%), url('C:\react\mainproj\public\2021-05-17.jpg');
    background-size: cover;
    align-items: end;
    font-weight: bolder;
    color: black;
    border-radius: 10px;


}
.dd{
    margin:auto;
}
.vv{
    height: 100px;
}
.mm{
    margin-top: -20px;
    text-decoration: none;
    color: #4B66F1;
}
.pp{
    font-weight: 500;
    margin-top: 40px;
    line-height: 25px;
}
.icons{
    margin-top: 100px;
    margin-left: 10px;
}
.fb{
    font-weight: 800;
    font-size: 20px;
    word-spacing: 0%;

}
.a{
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-left: 4px;
}